-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = link_to 'Home', root_url
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', '#'
              
  .top-bar-section.right
    %ul
      = render 'layouts/navigation_links'
