
  <% if user_signed_in? %>
  		<span style='color:white;'>
         <%= current_user.email %>
        </span>
        <%= link_to 'Sign out', destroy_user_session_path , :method => :delete,:style => "color: red;" %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path, :style => "color: red;"%> or <%= link_to 'Sign in', new_user_session_path ,:style => "color: red;"%>
    <% end %>
